<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>两列等高布局</title>
    <style>
        * {
            margin: 0;
            padding: 0
        }
      .container{
        display:flex;
      }
      .left .right{
        flex:1;
      }
      .left{
        background:red;
      }
      .right{
        background:green;
      }
    </style>
</head>
<body>
<div class="container">
  <div class="left">左侧</div>
  <div class="right">侧边栏侧边栏侧边栏侧边栏侧边栏侧边栏侧边栏侧边栏侧边栏
    侧边栏侧边栏侧边栏侧边栏侧边栏侧边栏侧边栏侧边栏侧边栏侧边栏侧边栏侧边栏侧
    边栏侧边栏侧边栏侧边栏侧边栏侧边栏侧边栏侧边栏侧边栏侧边栏侧边栏侧边栏侧边栏
    侧边栏侧边栏侧边栏侧边栏侧边栏
    侧边栏侧边栏侧边栏侧边栏侧边栏侧边栏侧边栏侧边栏侧边栏侧边栏
  </div>
</div>
<script>
  /*
  css实现两列容器等高布局，要求元素实际占用高度以两列中最高的为准
   */
</script>
</body>
</html>
